body {
    background-color: #143141;
    margin: 0;
    color: #F6EDD3;
    font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #F6EDD3;;
    background-color: #294551;
    color: #F6EDD3;
}

input[type=text]:focus {
    outline: #F6EDD3
}

select:focus {
    outline: none;
}

table {
    font-size: 20px;
}

select {
    background-color: #294551;
    border: 1px solid #F6EDD3;
    margin-left: 10px;
    margin-right: 10px;
    width: 13%;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.complete {
    width: 100%;
}

.ten {
    width: 10%;
    text-align: center;
}

.five {
    width: 5%;
    text-align: center;
}

.fourty {
    width: 40%;
}

.fifteen {
    width: 15%;
    text-align: center;
}

.alert {
    color: #F6EDD3;
    padding: 3px;
    width: 50%;
    margin-left: 25%;
}

.alert-warning {
    background-color: #d9534f;
}

.hide {
    visibility: hidden;
}

.modal-content {
    color: black;
}

.glyphicon-triangle-bottom:hover {
    color: gray;
}

.deleteHeader {
    background-color: #d9534f;
    color: white;
}


.confirmHeader {
    background-color: #5cb85c;
    color: white;
}

.confirmText {
    font-size: 17px;
}

.High {
    color: #d9534f;
    font-weight: bold;
    font-size: 20px;
}

.Medium {
    color: #E89159;
    font-weight: bold;
    font-size: 20px;
}

.Low {
    color: #7DE894;
    font-weight: bold;
    font-size: 20px;
}

.glyphicon-list {
    color: #7C9997
}

.inputSpacing {
    margin-right: 10px;
    margin-bottom: 10px;
}

.col-xs-6 {
    height: 30px;
}

.overDue {
    color: #d9534f;
    font-weight: bold;
}

.glyphicon-ok {
    color: #7DE894;
}

#dateViwer {
    margin-left: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

#inputDiv {
    margin-top: 30px;
    font-size: 17px;
}

#todoInput {
    width: 73%;
}

#title {
    margin-top: 30px;
    font-size: 110px;
    font-weight: bold;
}

#main {
    background-color: #294551;
    height: 450px;
    position: relative;
    min-height: 150px;
}

#completeText {
    font-size: 17px;
}

#sort {
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#todosDiv {
    margin-top: 80px;
}

#removeTodos {
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 0;
}  

#testing {
    display: inline-block;
}

#date {
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

#dueDate {
    background-color: #294551;
    border: 1px solid #F6EDD3;
    border-radius: 5px;

}

#dueDate:focus {
    outline: none;
}

#dueDate::-webkit-inner-spin-button,
#dueDate::-webkit-calendar-picker-indicator {
    background-color: #294551;
    -webkit-appearance: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #F6EDD3;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #F6EDD3;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #F6EDD3;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #F6EDD3;
  }




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    table {
        vertical-align: top;
        max-width: 100%;
    }
    
    #main {
        height: 350px;
    }

    #title {
        margin-top: 10px;
        font-size: 60px;
        font-weight: bold;
    }
    select {
        background-color: #294551;
        border: 1px solid #F6EDD3;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    #todoInput {
        width: 100%; 
    }

    #inputDiv {
        margin-top: 10px;
    }

    #dueDate {
        margin-top: 10px;
        width: 50%;
    
    }
}

