body {
    background-color: #003272;
    margin: 0;
    color: #F6EDD3;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #F6EDD3;
    font-size: 100px;
    font-weight: 800;
}

h2 {
    color: #F6EDD3;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    background-color: #02C4D9;
    color: #F6EDD3;
}

input[type=text]:focus {
    outline: none;
}

select:focus {
    outline: none;

}

select {
    background-color: #02C4D9;
    color: #F6EDD3;
}



.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.complete {
    width: 100%;
}

.ten {
    width: 10%;
    text-align: center;
}

.five {
    width: 5%;
    text-align: center;
}

.sixty {
    width: 60%;
}

.fifteen {
    width: 15%;
    text-align: center;
}

.alert {
    color: #F6EDD3;
    width: 500px;
}

.alert-warning {
    background-color: red;
}

.hide {
    visibility: hidden;
}

.modal-content {
    color: black;
}

#dateViwer {
    position: absolute;
    bottom: 0;
    right: 0;
}

#inputDiv {
    margin-left: 10%;
    margin-bottom: 10px;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#todoInput {
    margin-left: 5px;
    width: 35%;
}

#title {
    font-size: 40px;
}

#main {
    background-color: #02C4D9;
    height: 250px;
    position: relative;
    min-height: 150px;
}

#deleteHeader {
    background-color: #d9534f;
    color: white;
}


#confirmHeader {
    background-color: #5cb85c;
    color: white;
}

#confirmText {
    font-size: 17px;
}

#completeText {
    font-size: 17px;
}